@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
  --background: #f6f6f6;
  --text: #121212;
  --accent: #59ebae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
