@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
  --background: #f6f6f6;
  --text: #121212;
  --accent: #59ebae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Nunito', sans-serif;
  padding: 30px;
}

header {
  opacity: 0.5;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

article img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
}

article .content-wrapper {
  margin-left: 100px;
}

article .content-wrapper > h1 {
  font-size: 60px;
}

article .content-wrapper > h2 {
  margin-top: 10px;
  font-size: 40px;
  opacity: 0.6;
}

article .btns > button {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  font-size: 28px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: var(--accent);
  color: var(--text);
  cursor: pointer;
}

footer {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

@media (max-width: 1090px) {
  article {
    flex-direction: column;
    margin-top: 50px;
  }

  article .content-wrapper {
    margin-left: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    padding: 30px 10px;
  }

  article img {
    width: 100%;
  }

  article .content-wrapper > h1 {
    font-size: 40px;
  }

  article .content-wrapper > h2 {
    font-size: 20px;
  }
}
